.container {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;

  flex-grow: 1;
  margin-right: 2px;
  border-radius: 6px;

  font-size: 14px;
  line-height: 20px;
  color: #151515;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    background-color: #f6f6f8;;
  }
}

.active {
  background-color: #f6f6f8;
}